<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-body">

    <h1><%= @business_profile.name %></h1>

<h4> Location </h4>
<p><%= @business_profile.street %></p>
<p><%= @business_profile.city %>  <%= @business_profile.state %> <%= @business_profile.postcode %></p>
<p><%= @business_profile.country %></p>

<h4><span class="fa fa-phone"></span> <%= @business_profile.phone %> </h4>
<h4><span class="fa fa-envelope"></span> <%= @business_profile.email %></h4>
<h4><span i class="fa fa-globe"></span> <%= @business_profile.website %></h4>
<h4><span i class="fa fa-twitter"><a href="http://twitter.com/"<%= @business_profile.twitter %></a><%= @business_profile.twitter %></h4>

<%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
<%= link_to 'Back', business_profiles_path %>
