<%= simple_form_for(@user_profile) do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name %>
  </div>
  <% unless @user_profile.profile_pic.nil? %>
  <p>Current image:</p>
    <%= image_tag(@user_profile.profile_pic_url(:thumbnail)) %>
  <% end %>
  <div class="form-group">
    <%= f.input :profile_pic, as: :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
