<p id="notice"><%= notice %></p>

<p>
  <strong>Star rating:</strong>
  <%= @testimonial.star_rating %>
</p>

<p>
  <strong>Body:</strong>
  <%= @testimonial.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @testimonial.user %>
</p>

<p>
  <strong>Business profile:</strong>
  <%= @testimonial.business_profile %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
